# DAT200: Applied Machine Learning

## Compulsory Assignment 1 - Pandas and visualizations

#### Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from tabulate import tabulate

### Loading and exploring the dataset

---

### 1. Load the dataset named airbnd.csv and store it in a dataframe called raw_df. Use the column named id as the index column fro the dataframe

In [2]:
raw_df = pd.read_csv('assets/airbnb.csv')

In [3]:
raw_df = raw_df.set_index('id')

### 2. Print the first five rows of the dataframe

In [4]:
raw_df.head(5)

,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,state,city
id,,,,,,,,,,,,,,,
183319,Panoramic Ocean View Venice Beach,867995,Barbara X,Venice,33.99211,-118.47600,Entire home/apt,152,30,3,2,0,0,CA,Los Angeles
109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,Culver City,33.98301,-118.38607,Entire home/apt,115,30,2,1,139,0,CA,Los Angeles
51307,Spanish Bungalow Guest House LA CA. 30 plus ni...,235568,David,Atwater Village,34.12206,-118.26783,Entire home/apt,75,30,138,2,224,0,CA,Los Angeles
184314,Boho Chic Flat..Steps to Beach!,884031,Ashley,Venice,33.97487,-118.46312,Entire home/apt,125,30,30,1,0,0,CA,Los Angeles
51498,Guest House With Its Own Entrance/Exit and Hot...,236758,Bay,Mar Vista,34.00389,-118.44126,Entire home/apt,189,3,378,1,348,41,CA,Los Angeles

### 3. How many unique values exist in each of the columns *state* and *city*?

In [5]:
raw_df.state.unique()

array(['CA', 'CO', 'DC', 'FL', 'HI', 'IL', 'LA', 'MA', 'MN', 'NC', 'NJ',
       'NV', 'NY', 'OH', 'OR', 'RI', 'TN', 'TX', 'WA'], dtype=object)

In [6]:
raw_df.city.unique()

array(['Los Angeles', 'Oakland', 'Pacific Grove', 'San Diego',
       'San Francisco', 'San Mateo County', 'Santa Clara County',
       'Santa Cruz County', 'Denver', 'Washington D.C.', 'Broward',
       'Hawaii', 'Chicago', 'New Orleans', 'Boston', 'Cambridge',
       'Twin Cities MSA', 'Asheville', 'Jersey City', 'Newark',
       'Clark County', 'New York City', 'Columbus', 'Portland', 'Salem',
       'Rhode Island', 'Nashville', 'Austin', 'Dallas', 'Fort Worth',
       'Seattle'], dtype=object)

### 4. Identify missing (NaN) values in each of the columns in the dataset

In [7]:
raw_df.isna().sum()

name                                19
host_id                              0
host_name                         1144
neighbourhood                      712
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
state                                0
city                                 0
dtype: int64

#### 5. Create a copy of *raw_df* named df. Remove any rows containing NaN values in the new dataframe. What is the shape of df before and after removing the NaN values?

In [8]:
df = raw_df
df = df.dropna()
df.isna().sum()

name                              0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
state                             0
city                              0
dtype: int64

In [9]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325858 entries, 183319 to 51193080
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   name                            325839 non-null  object
 1   host_id                         325858 non-null  int64
 2   host_name                       324714 non-null  object
 3   neighbourhood                   325146 non-null  object
 4   latitude                        325858 non-null  float64
 5   longitude                       325858 non-null  float64
 6   room_type                       325858 non-null  object
 7   price                           325858 non-null  int64
 8   minimum_nights                  325858 non-null  int64
 9   number_of_reviews               325858 non-null  int64
 10  calculated_host_listings_count  325858 non-null  int64
 11  availability_365                325858 non-null  int64
 12  number_of_reviews_ltm           325858 non-null  int64
 13  state                           325858 non-null  object
 14  city                            325858 non-null  object
dtypes: float64(2), int64(7), object(6)
memory usage: 39.8+ MB

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323983 entries, 183319 to 51193080
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   name                            323983 non-null  object
 1   host_id                         323983 non-null  int64
 2   host_name                       323983 non-null  object
 3   neighbourhood                   323983 non-null  object
 4   latitude                        323983 non-null  float64
 5   longitude                       323983 non-null  float64
 6   room_type                       323983 non-null  object
 7   price                           323983 non-null  int64
 8   minimum_nights                  323983 non-null  int64
 9   number_of_reviews               323983 non-null  int64
 10  calculated_host_listings_count  323983 non-null  int64
 11  availability_365                323983 non-null  int64
 12  number_of_reviews_ltm           323983 non-null  int64
 13  state                           323983 non-null  object
 14  city                            323983 non-null  object
dtypes: float64(2), int64(7), object(6)
memory usage: 39.5+ MB

### 6. Which room_type, state and city is the most popular (by number of instances)? Print the name and count of each

In [11]:
most_pop_roomType = df.room_type.value_counts()

In [12]:
print('Column:', df.columns[6], ', Most popular:', df.room_type.mode()[0], ', Count: ', df.room_type.value_counts().max())
print('Column:', df.columns[13], 'Most popular:', df.state.mode()[0], ', Count: ', df.state.value_counts().max())
print('Column:', df.columns[14], ', Most popular:', df.city.mode()[0], ', Count: ', df.city.value_counts().max())

Column: room_type , Most popular: Entire home/apt , Count:  241433
Column: state Most popular: CA , Count:  127206
Column: city , Most popular: Los Angeles , Count:  91600

##### Creating a table using the tabulate module to get a nicer output

In [13]:
dict = {'Column':[df.columns[6], df.columns[13], df.columns[14]],
       'Most popular':[df.room_type.mode()[0], df.state.mode()[0], df.city.mode()[0]],
       'Count': [df.room_type.value_counts().max(), df.state.value_counts().max(), df.city.value_counts().max()]}

In [14]:
table_result = pd.DataFrame(dict)

In [15]:
print(tabulate(table_result, headers = 'keys', tablefmt = 'presto'))

    | Column    | Most popular    |   Count
----+-----------+-----------------+---------
  0 | room_type | Entire home/apt |  241433
  1 | state     | CA              |  127206
  2 | city      | Los Angeles     |   91600

###  7. What is the average and median price for a listing?

In [16]:
average_listing_price = round(df.loc[:, 'price'].mean(), 2)
print('Average price for a listing:', average_listing_price)

Average price for a listing: 285.13

In [17]:
median_listing_price = round(df.loc[:, 'price'].median(), 2)
print('Median price for a listing:', median_listing_price)

Median price for a listing: 159.0

##  8. What is the average price for the states CA, FL and NY?

In [18]:
state_price = df[['state', 'price']]
states = ['CA', 'FL', 'NY']
state_price = state_price.loc[df['state'].isin(states)]

In [19]:
avg_CA = state_price.loc[state_price['state'] == 'CA']
avg_CA = round(avg_CA['price'].mean(), 2)

avg_FL = state_price.loc[state_price['state'] == 'FL']
avg_FL = round(avg_FL['price'].mean(), 2)

avg_NY = state_price.loc[state_price['state'] == 'NY']
avg_NY = round(avg_NY['price'].mean(), 2)

In [20]:

dict = {'State': ['CA', 'FL', 'NY'],
       'Average price': [avg_CA, avg_FL, avg_NY]}
table_result = pd.DataFrame(dict)

In [21]:
print(tabulate(table_result, headers = 'keys', tablefmt = 'presto'))

    | State   |   Average price
----+---------+-----------------
  0 | CA      |          288.4
  1 | FL      |          241.99
  2 | NY      |          197.22

## 9. Create a new dataframe called df_beach containing all listings with "beach" in the name. Print out the shape of beach_df

In [22]:
# str.contains is not case sensitive, this could be changed by adding case: True 
df_beach = df[df['name'].str.contains('beach')]
df_beach

,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,state,city
id,,,,,,,,,,,,,,,
24041,2block from beach-Historic Bungalow discount/m...,39253,Omar & Kristina,Redondo Beach,33.838890,-118.385370,Entire home/apt,185,4,361,2,338,10,CA,Los Angeles
33447,Malibu Guest house/ near beach,144837,Patricia,Malibu,34.014510,-118.806400,Entire home/apt,188,30,332,1,0,0,CA,Los Angeles
278106,Venice Beach Mermaid Cottage+75ft from beach!,1451697,Lisa,Venice,33.979750,-118.464940,Entire home/apt,189,30,52,1,177,0,CA,Los Angeles
162047,4.-Mansion in exclusive beach area of LA,774887,Eric,Rancho Palos Verdes,33.771910,-118.393850,Private room,69,31,131,4,362,4,CA,Los Angeles
287339,Dog Friendly 3BD Home on PRIVATE beach in Malibu,1494781,Tara,Malibu,34.038620,-118.622430,Entire home/apt,1743,2,94,2,246,15,CA,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544923475091135974,Madison Park home near beach shops & downtown...,34779932,Marc,Madison Park,47.636005,-122.280502,Entire home/apt,225,30,0,2,260,0,WA,Seattle
574641002471100387,Original West Seattle beach cottage with amazi...,446538637,Vacasa Washington,Alki,47.584420,-122.399470,Entire home/apt,288,2,40,12,361,12,WA,Seattle
629893356790769569,"New Happy Place Condo in Ballard, 1 mi to beach",133715678,Sneha,Loyal Heights,47.690429,-122.384143,Entire home/apt,148,2,0,1,172,0,WA,Seattle
639093992036123915,"Home with private rooftop deck, patio & washer...",104834083,Vacasa Washington,Leschi,47.591860,-122.296640,Entire home/apt,347,2,3,46,364,3,WA,Seattle
643077326594772693,Near the beach 4- bedroom rambler,49509884,Minh,North Beach/Blue Ridge,47.694080,-122.395610,Entire home/apt,190,1,30,1,146,30,WA,Seattle

In [23]:
df_beach_shape = df_beach.shape
print('\nDataFrame Shape :', df_beach_shape)
print('\nNumber of rows :', df_beach_shape[0])
print('\nNumber of columns :', df_beach_shape[1])

DataFrame Shape : (6615, 15)

Number of rows : 6615

Number of columns : 15

# Visualizing the dataset

## 10. Create plot with 2 vertical axes and one horizontal axes. The plot should display a barchart containing the `count` of the `10 most popular` states and cities, each in its own subplot. The bars should be sorted in descending order.

In [34]:
top_states = df.groupby(df['state'])
number = top_states['state'].count()

state
CA    127206
CO      5836
DC      6312
FL     16622
HI     28446
IL      7414
LA      6895
MA      8274
MN      4156
NC      3009
NJ      4254
NV     14369
NY     39818
OH      2197
OR      4873
RI      4830
TN      7653
TX     25915
WA      5904
Name: state, dtype: int64

In [ ]:
sns.barplot(data = top_states, x='state', y='number')